
<h1>projekty</h1>
<div class="opcje" >
<%= link_to 'dodaj projekt', projekty_new_path %>
</div>
<%= form_tag :projekty_index, method: :get do %>
  <%= text_field_tag :szukaj, "szukaj", onfocus: "if(this.value == 'szukaj') { this.value = ''; }"%>
<% end %>
<table> 
  <tr>
    <td>id
    <td>nazwa
    <td>stan
    <td>opis
  <tr> 
  <% @projekty.each do |p| %>
    <tr>
      <td><%= p.id %>
      <td><%= p.nazwa %>
      <td><%= p.stan %>
      <% if p.opis.length > 30 %>
        <td><%= p.opis[0..27] + "..." %>
      <% else %>      
        <td><%= p.opis%>
      <% end %>
      <td><%= link_to "pokaż", action: :show, id: p %>
    <tr> 
  <% end %>
</table>
