<h1>projekt <%= @projekt.nazwa %></h1>
<table style="text-align: left;">
  <tr><td style="width: 100px; text-align: right;"> stan: <td><b> <%= @projekt.stan %> </tr>
  <tr><td style="width: 100px; text-align: right;"> opis: <td><i> <%= @projekt.opis %> </tr>
</table>
<div class="opcje">
<%= link_to 'wróć', projekty_path %> <br/>    
<% if @edycja %>
  <%= link_to 'usuń'  , projekty_destroy_path(id: @projekt.id), method: :delete %> <br/>  
  <%= link_to "edytuj", projekty_edit_path(id: @projekt.id), method: :get   %><br/>
  <%= link_to "umieść w szafce", projekty_umiesc_w_szafce_path(id: @projekt.id), method: :post%><br/>
  <%= link_to "dodaj osobę", projekty_dodaj_osobe_path(id: @projekt.id), method: :post %><br/>
<% end %>
<% if @projekt.szafki %>
  <%= link_to "idź do szafki", szafki_show_path(id: @projekt.szafki.id) %>
<% end %>

</div>
<p> Osoby biorące udział: 

<div class="opis">
  <div class="tabela">
    <% @projekt.uzytkownicies.each do |p| %>
      <div class="folder">
        <i>Nick <b><%= p.nick %></b></i><br/>
        Funkcja 
          <%= rola = @projekt.projekty_uzytkownicies.find_by(uzytkownicy_id: p).rola %> <br/>
          <% if @edycja %>
            <%= link_to "zmień", projekty_zmien_role_path(uzytkownik_id: p.id, projekt_id: @projekt.id), method: :post %>
          <% else %>
            <%= rola %>
          <% end %> 
          <% if @edycja %>
            <b><%= link_to "usuń", 
                projekty_usun_uzytkownika_path(projekt_id: @projekt.id, uzytkownik_id: p.id), method: :post %></b>
          <% end %>
      </div>
    <% end %>
  </div>
</div>
<br/>
Przedmioty: 
<table>
<% @projekt.przedmioties.each do |p| %>
  <tr>
    <td><%= p.typ %>
    <td><%= p.nazwa %>
    <td><%= p.model %>
    <td><%= p.stan %>
    <td><%= link_to 'zwróć', projekty_usun_przedmiot_path(id: p.id, projekt_id: @projekt.id), method: :post %>    
  <tr>       
<% end %>
</table>
