
<h1>szafki</h1>
<% if @poziom_dostepu > 1 %>
  <div class="opcje" >
    <%= link_to 'nowa szafka', szafki_new_path %>
  </div>
<% end %>
<%= form_tag :szafki_index, method: :get do %>
  <%= text_field_tag :szukaj, "szukaj", onfocus: "if(this.value == 'szukaj') { this.value = ''; }"%>
<% end %>
<table>
  <tr>
    <td> id
    <td> miejsce
    <td> numer
    <td> schowano
  </tr>
  <% @szafki.each do |s| %>
    <tr>
      <td> <%= s.id %>
      <% if s.uzytkownicy_id > 0 %>
        <% u = s.uzytkownicy_id %>
        <td><% u = Uzytkownicy.where(id: u).first %> <%= link_to u.nick, 'uzytkownicy/' + u.id.to_s if u!=nil%>
      <% else %>
        <td> <%= s.miejsce %>
      <% end %>
      <td> <%= s.numer %>
      <td> <%=   s.projekties.count.to_s + '+' +s.przedmioties.count.to_s %>
      <td> <%= link_to 'zobacz', ('/szafki/' + s.id.to_s)%>
    </tr>
  <% end %>
</table>
