
<h1>przedmioty </h1>
<div class="opcje">
  <% if @poziom_dostepu > 1 %>
    <%= link_to 'dodaj przedmiot', action: :new %><br/>
  <% end %>
  <% if params[:wybrane] %>
    <%= link_to "wyczyść wybrane", przedmioty_wyczysc_path, method: :post %>
    <% if @poziom_dostepu > 2 %>
      <br/><%= link_to "usuń wybrane", przedmioty_destroy_all_path, method: :delete, data: {confirm: "Czy na pewno?"}%>
    <% end %>  
    <br/>
    <%= link_to "Dodaj do projektu", przedmioty_dodaj_do_projektu_path, method: :post %> <br/>
    <%= link_to "Wypożycz", przedmioty_wypozycz_path, method: :post %><br/>
    <%= link_to "Zaszufladkuj", przedmioty_schowaj_path, method: :post %>
  <% end %>
</div>
<%= form_tag :przedmioty_index, method: :get, style: 'float: left;' do %>
  <%= text_field_tag :szukaj, "szukaj", onfocus: "if(this.value == 'szukaj') { this.value = ''; }"%>
<% end %>
<%= form_tag przedmioty_grupuj_path, method: :get, style: 'float: right;' do %>
  <%= submit_tag 'grupuj' %>
<% end %>

<% if @przedmioty %>
  <table>
    <tr>
      <td>id
      <td>typ
      <td>nazwa
      <td>model
      <td>stan

      <% if session[:grupuj] == true %>
        <td> ilość
      <% end %>
    </tr>
    <% @przedmioty.each do |u| %>
      <tr>
        <td><%= u.id %>
        <td><%= u.typ %>
        <td><%= u.nazwa %>
        <td><%= u.model %>
        <% if u.stan == 0 || u.stan == 1 %>
          <td title="zajęty"> Z
        <% elsif u.stan == 2 %>
          <td title="wypożyczalny"> W
          <% unless session[:grupuj] == true %>
            <% if u.uzytkownicy || u.projekty %>
              (z)
            <% end %>
          <% end %>
        <% elsif u.stan == 3 %>
          <td title="do utylizacji"> U
        <% end %>
        <% unless session[:grupuj] == true %>
          <td><%= link_to 'zobacz', action: :show, id: u %>
          <% unless (session[:wybrane_przedmioty].include? u.id  if session[:wybrane_przedmioty])%>
            <td><%= link_to('wybierz', {action: :wybierz, id: u, params: params}, method: :post)%>
          <% end %>
        <% else %>
          <td> <%= @ilosc[[u.typ, u.nazwa, u.model, u.stan]] %>
        <% end %>
      </tr>
    <% end %>
  </table>
  <% if @strony %>
    <% @strony.times do |p| %>
      <%= link_to :p %>
    <% end %>
  <% end %>
<% else %>
  <p> Brak Rekordów </p>
<% end %>

<%= will_paginate @przedmioty %>
