<h1>nowy przedmiot </h1>
<%= form_for :przedmiot, url: przedmioty_create_path do |f|%>
  <%= f.label :typ%> <%= f.text_field :typ %> <br/>
  <%= f.label :nazwa%> <%= f.text_field :nazwa %><br/>
  <%= f.label :model%> <%= f.text_field :model %><br/>
  <%= f.label :stan%> <%= f.select :stan, @menu_stan , value: 2%><br/>
  <%= f.label 'ilość'%> <%= f.text_field :ilosc %><br/>
  <%= f.submit :dodaj%> 
<% end %>
