<h1> przedmiot </h1>
<div class="opcje">
  <%= link_to 'edytuj', @przedmiot.id.to_s + '/edit' %><br/>
  <%= link_to 'usun', przedmioty_path(@przedmiot), method: :delete, data: {confirm: "Na pewno?"} %>
</div>

<p>typ: <b><%=@przedmiot.typ %></b></p>
<p>nazwa: <b><%=@przedmiot.nazwa %></b></p>
<p>model: <b><%=@przedmiot.model %></b></p>
<p>stan: <b><%=@przedmiot.stan %></b></p>
<p>opis: <i><%=@przedmiot.komentarz %></i></p>


