
<h1><%= @uzytkownik.nick %> </h1>

<div class="opcje">
  <%= link_to "Idź do szafki", {controller: :szafki, action: :show, id: @uzytkownik.szafkis.first} %><br/>
  <%= link_to 'edytuj', action: :edit, id: @uzytkownik.id%>
</div>
<table>

	<tr><td style="width: 100px"><p>email <td><b><%= @uzytkownik.email %> </b></p> </tr>
	<tr><td><p>status_czlonka <td><b><%= @uzytkownik.status_czlonka %> </b></p></tr>
	<tr><td><p>ostatnie logowanie <td><b><%= @uzytkownik.ostatnie_logowanie %> </b></p></tr>
	<tr><td><p>komentarz: <td><i><%= @uzytkownik.komentarz %> </i></p></tr>

</table>




